* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.hidden {
    display: none;
}

html, body {
    height:100%;

}

header {
    background-color: black;
    position: relative;
}

.header-1 {
    font-weight: bold;
    font-size: 36px;
    color: #D58342; 
  
} 

.nav-title {
    font-weight: bold;
    font-size: 36px;
    color: #D58342; 
}

header nav ul li a {
    margin: 0 12px;
    font-size: 20px;
    color: white;
}

header nav ul li a:hover {
    color: #D58342
}

header nav {
    background-color: black;
    height: 160px;
}


.hero h3 {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.hero {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    height:fit-content;
    min-height: 500px;
    
}

.search-form {
    background-color: rgba(0, 0, 0, .7);
    border: 3px solid grey;
    max-height: 700px;
    /* position: relative; */
}


button {
    margin: 12px;
    font-weight: bold;
    width: 160px;
}

.h6 {
    font-weight: bold;
}

#restaurant-checkbox {
    
}

#brewery-checkbox {
    
}

.input-field>label {
    font-size: 20px;
    align-items: center;
    color: white;
    font-weight: 400px;   
    text-transform: uppercase;
    line-height: 10px;
}

.input-field {
    background-color: white;
    margin: 0;
    border: none;
}

h6 {
    color: white;
    text-transform: uppercase;
}

.results-section {
    background-color: rgba(0, 0, 0, .7);
    border: 3px solid grey;
    color: white;
}

.results-section h4 {
    color: white;
    text-transform: uppercase;
}

.list-item {
    display: block;
    background-color: rgb(255, 255, 255, .7);
    color: black;
    margin: 5px 0 5px 0;
    font-size: large;
}

.past-search-item {
    display: block;
    background-color: rgb(255, 255, 255, .7);
    color: black;
    margin: 5px 0 5px 0;
}

.past-search-item:hover {
    background-color: rgba(213, 131, 66, .7);
}



