* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.hidden {
    visibility: hidden;
}

body {

}

header {
    background-color: black;
    position: relative;
}

.header-1 {
    font-weight: bold;
    font-size: 36px;
    color: #D58342; 
    display: inline;
    padding: 10px 10px 0px;
    position: absolute;
    bottom: 0;
}

header nav ul li a {
    margin: 0 12px;
    font-size: 20px;
    color: white;
}

header nav {
    background-color: black;
    height: 160px;
}


.hero h3 {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.hero {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    height: 800px;
}

.search-form {
    background-color: rgba(0, 0, 0, .7);
    border: 3px solid grey;
    width: 400px;
}

.input-field {
    background-color: white;
}

h6 {
    color: white;
}

.results-section {
    background-color: rgba(0, 0, 0, .7);
    border: 3px solid grey;
    color: white;
}

.results-section h4 {
    color: white;
}

.list-item {
    display: block;
    background-color: rgb(255, 255, 255, .7);
    color: black;
    margin: 5px 0 5px 0;
}